<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content">
        {{>header}}
        <p>this app uses mapbox API and accu-weather API to give users accurate weather forecast in the provided location.</p>
        <h2>profile picture</h2>
        <img class="portrait" src="/images/robot.jpg" alt="display pic">
        </div>
        
        <!--<p>created by {{name}}</p>-->
        {{>footer}}
    </body>
</html>