body{
    color: #333333;
    max-width: 650px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding:0 16px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
    border:3px solid #888888;
    padding: 16px;
}

.portrait{
    width: 250px;
}

footer{
    color: #888888;
    border: 2px solid #eeeeee;
    margin-top: 16px;
    padding:16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 5px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input{
    padding: 8px;
    border: 2px solid #cccccc;
}

button{
    color: white;
    cursor: pointer;
    padding: 8px;
    background: #888888;
    border: 2px solid #888888;
}

